header {
    position: absolute;
    width: 100%;
}

.primary-navigation {
    display: flex;
    flex-basis: 1;
    align-items: center;
    padding: 30px 20px;
}

@media(max-width: 500px) {
    .primary-navigation {
        padding: 20px 15px;
    }
}

.logo {
    color: var(--clr-neutral-100);
    font-size: var(--fs-700);
    letter-spacing: 1px;
    font-weight: var(--fw-bold);
    font-family: var(--ff-barlow) !important;
}

@media (max-width:500px) {
    .logo {
        font-size: 1.8rem;
    }
}

.clicker {
    display: none;
}

@media(max-width: 500px) {
    .clicker {
        display: block;
        margin-left: auto;
    }
}

.nav-links {
    margin-left: auto;
    display: flex;
    align-items: center;
}

@media(max-width: 500px) {
    .nav-links {
        position: absolute;
        z-index: 100;
        background-color: var(--clr-neutral-100);
        flex-direction: column;
        width: 80%;
        top: 120%;
        left: 10%;
        padding: 40px;
        transform: translateX(-200%);
        transition: translate .3s ease-in;
    }

    .hidden {
        transform: translateX(0%);
        transition: transform .4s ease-in;
    }
}

.nav-links li a {
    color: var(--clr-neutral-100);
    opacity: 0.7;
    font-size: var(--fs-500);
    letter-spacing: 1px;
    font-weight: var(--fw-semiBold);
    font-family: var(--ff-barlow) !important;
}

.nav-links li+li {
    margin-left: 20px;
}

@media(max-width:500px) {
    .nav-links li a {
        color: var(--clr-neutral-200);
        font-size: 1.5rem;
    }

    .nav-links li+li {
        margin: 0;
        margin-top: 40px;
    }
}

button {
    border: 0;
    width: 150px;
    height: 50px;
    margin-left: 20px;
    border-radius: 30px;
    font-family: var(--ff-fraunces);
    cursor: pointer;
}

button:hover {
    background-color: hsla(0, 0%, 100%, 0.247);
    color: var(--clr-neutral-100);
}

@media(max-width:500px) {
    button {
        background-color: var(--clr-primary-200);
        margin: 0;
        height: 60px;
        margin-top: 40px;
    }
}

.hero h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    letter-spacing: 8px;
    width: 100%;
    padding-block: 20px;
}

@media(max-width: 500px) {
    .hero h1 {
        line-height: 50px;
        padding: 0;
    }
}

.arrow {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}

@media(max-width:500px) {
    .arrow {
        top: 35%;
    }
}

.service {}

.services {
    display: grid;
    grid-template-columns: 50% 50%;
}

.services picture {
    width: 100%;
}

.services img {
    width: 100%;
}

.service-text {
    padding: 120px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.service-text a {
    font-family: var(--ff-fraunces);
    text-transform: uppercase;
    font-weight: var(--fw-black);
    color: #333;
    position: relative;
}

.learn-btn-1:after {
    content: '';
    width: 130px;
    height: 10px;
    background-color: var(--clr-primary-200);
    position: absolute;
    top: 70%;
    left: 12%;
    transform: translate(-50%);
    border-radius: 30px;
    opacity: 0.3;
}

.learn-btn-2::after {
    content: '';
    width: 130px;
    height: 10px;
    background-color: var(--clr-primary-100);
    position: absolute;
    top: 70%;
    left: 12%;
    transform: translate(-50%);
    border-radius: 30px;
    opacity: 0.3;
}

@media (max-width: 500px) {
    .services {
        display: flex;
        flex-direction: column;
    }

    .services:nth-of-type(1) {
        flex-direction: column-reverse;
    }

    .service-text {
        padding: 50px;
        text-align: center;
    }

    .learn-btn-1:after {
        content: '';
        width: 130px;
        height: 10px;
        background-color: var(--clr-primary-200);
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%);
        border-radius: 30px;
        opacity: 0.3;
    }

    .learn-btn-2::after {
        content: '';
        width: 130px;
        height: 10px;
        background-color: var(--clr-primary-100);
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%);
        border-radius: 30px;
        opacity: 0.3;
    }
}

.offer {
    position: relative;
    display: grid;
    place-items: center;
}

.offer-text {
    position: absolute;
    text-align: center;
    top: 60%;
}

.offer-text h5 {
    font-family: var(--ff-fraunces);
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-200);
    opacity: 0.8;
    line-height: 60px;
    margin-bottom: 40px;
}

.testimony{
    text-align: center;
    padding: 120px;
}

.testimony h1{
    font-family: var(--ff-fraunces);
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-200);
    opacity: 0.8;
    line-height: 60px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.testimonials{
    display: grid;
    grid-auto-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.testimony-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.testimony-details img{
    border-radius: 50%;
    width: 90px;
}
.signature h2{
    font-family: var(--ff-fraunces);
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    color: #333;
    line-height: 60px;
}

.signature p{
    font-size: var(--fs-400) !important;
}
@media(max-width: 500px){
    .testimony{
        padding: 50px;
    }
    .testimonials{
        display: flex;
        flex-direction: column;
    }
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media(max-width:500px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

footer{
    padding: 100px;
    background-color: var(--clr-primary-500);
    display: grid;
    place-items: center;
}

footer a{
    color: var(--clr-primary-400);
    font-size: var(--fs-700);
    letter-spacing: 1px;
    font-weight: var(--fw-bold);
    font-family: var(--ff-barlow) !important;
}

.footer-nav{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.footer-nav li + li{
    margin-left: 50px;
}
.footer-nav li a{
    color: var(--clr-primary-400);
    opacity: 0.7;
    font-size: var(--fs-500);
    letter-spacing: 1px;
    font-weight: var(--fw-semiBold);
    font-family: var(--ff-barlow) !important;
}
.ico{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}